/* 1. Hover & Not Pseudo Classes */
.container1 {
  display: flex;
  gap: 1rem;
}

.box1 {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  background: #605dff;
  cursor: pointer;
  transition: opacity 0.6s ease;
}

.container1:hover > :not(:hover) {
  opacity: 0.5;
}

/* 2. Responsive Subscribe Form Layout */
.form1 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.input1 {
  flex: 1 0 10rem;
}
.button1 {
  flex: 1 0 5rem;
}
